/* Basic styling */

@font-face {
    font-family: 'Header';
    src: url(/fonts/BLACCS__.TTF);
}
@font-face {
    font-family: 'Main';
    src: url(/fonts/bigbluereg.ttf)
}

body {
  background-image: url(/images/wallbg.png);
  background-color: #272e33;
  color: #d3c6aa;
  font-family: Verdana;
}

a {
  color: #7fbbb3;
}

/* Headers */

.headers {
  display: flex;
  flex-direction: column;

  .top-header {
      color: #83c092;
      background-color: #272e33;
      font-family: 'Header';
      text-align: center;
      font-size: 50px;
      border-style: outset;
      border-width: 10px;
      border-color: #d3c6aa;
      border-bottom-style: dashed;
      border-bottom-width: 2px;
      margin-left: 250px;
      margin-right: 250px;
      line-height: 0px;
  }

  .bottom-header {
    font-family: 'Main';
    color: #d3c6aa;
    background-color: #272e33;
    text-align: center;
    border-style: outset;
    border-color: #d3c6aa;
    border-top-style: none;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 250px;
  }
}

/* Main content */

.columns {
  font-family: 'Main';
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  height: 750px;
  margin-top: 25px;

  .left {
    background-color: #272e33;
    border-style: outset;
    border-color: #d3c6aa;
    width: 300px;
    margin-left: 250px;
    
  .interests {
    list-style-position: inside;
    padding-left: 10px;
    margin-left: 60px;
    text-align: left;
    line-height: 25px
    }
  }

  .center {
    font-size: 50px;
    background-color: #272e33;
    border-style: outset;
    border-color: #d3c6aa;
    width: 750px;
    line-height: 0px;
  }

  .right {
    background-color: #272e33;
    border-style: outset;
    border-color: #d3c6aa;
    width: 300px;
    margin-right: 250px;

    .socials {
      font-size: 20px;
      list-style: none;
      text-align: center;
      padding-right: 50px;
      line-height: 50px;
    }
  }
}

/* Footer */

.footer {
  font-family: 'Main';
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #272e33;
  border-style: dashed;
  border-color: #d3c6aa;
  border-width: 2px;
  margin-top: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

img {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}